.box{
    width:280px;
    display:inline-block;
    margin:15px;
    padding:20px;

    border:1px solid gray;
    border-radius:8px;

    box-shadow:2px 2px 6px rgba(0,0,0,0.2);

    vertical-align:top;
}

dt{
    font-weight:bold;
}

dd{
    margin-bottom:10px;
}